@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #E0E8FF;

}
.container img{
    width: inherit;
    height: 48%;
}

.main-div {
    width: 450px;
    height: 697px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);

}

.top-div {
    width: 100%;
    height: 220px;
    border-radius: 12px;
}

.top-div img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
}

.bottom-div {
    width: 354px;
    margin: auto;
    font-family: "Red Hat display", sans-serif;

}

.bottom-div,
.info,
.bundle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h2 {
    margin-top: 10%;
    font-size: 28px;
    font-weight: 900;
    line-height: 37.04px;
    color: #1F2E55;

}

.info p {
    margin: 17px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #717FA6;

}

.bundle {
    width: 354px;
    height: 98px;
    border-radius: 11px;
    background-color: hsl(225, 100%, 98%);
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bundle img{
    width: 45px;
}

.bundle p {
    color: #1F2E55;
    font-size: 16px;
    font-weight: 900;
    line-height: 21.17px;
    margin-left: 20px;

}

.bundle span {
    color: #717FA6;
    font-size: 16px;
    line-height: 21.17px;
}

.bundle a {
    color: #382AE1;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.52px;
    margin-left: 100px;
}

.btn {
    width: 354px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn button {
    width: 354px;
    height: 50px;
    border-radius: 11px;
    border: none;
    margin-top: 10px;
    background-color: #382AE1;
    box-shadow: 0 20px 20px rgba(56, 42, 225, .19);
    font-size: 15px;
    font-weight: 900;
    line-height: 19.85px;
    color: #ffffff;

}

.btn p {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 900;
    line-height: 19.85px;
    color: #717FA6;
}
.attribution{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* desktop active  */
.btn p:hover, .bundle a:hover{
color: #766CF1;
text-decoration: none;
cursor: pointer;
}
.btn button:hover{
    background-color: #766CF1;
    cursor: pointer;
}
@media screen and  (min-size:376px){
    .container{
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .main-div{
        width: 327px;
        height: 727px;
        position: absolute;
        margin: 71px 24px;

    }
    .main-div img{
        width: inherit;
    }
}